<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Signin</title>
  <link href="bootstrap.min.css" rel="stylesheet">    <link href="signin.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <form class="form-signin" id="signup", method="POST", action="/signin">
      <h2 class="form-signin-heading">Please sign in</h2>
      <label for="inputName" class="sr-only">Username</label>
      <input type="name" id="inputName" class="form-control" placeholder="Username" required="" autofocus="" name="username">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" name="password">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  </div>
</body>
</html>